
<h1>新規登録</h1>

<%= form_for(@admin) do |f| %>

<h4>ユーザー名</h4>
<%= f.text_field :name %>

<h4>メールアドレス</h4>
<%= f.email_field :email %>

<h4>パスワード</h4>
<%= f.password_field :password %>

<%= f.submit '登録' %>

<% end %>

