<div class="main user-show">
  <div class="container">
    <div class="user">
      <% if @admin.profile_image.attached? %>
        <%= image_tag @admin.profile_image %>
      <% end %>
      <h2><%= @admin.name %></h2>
      <p><%= @admin.email %></p>
      <% if @current_admin %>
        <%= link_to "Edit", edit_admin_path %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li class="active"><%= link_to "Note", admin_path %></li>
      <li><%= link_to "Users", admins_users_path %></li>
    </ul>
    <% @items.each do |item| %>
      <div class="items-index-item">
        <div class="item-left">
          <% if item.user.profile_image.attached? %>
            <%= image_tag item.user.profile_image %>
          <% end %>
        </div>
        <div class="item-right">
          <div class="item-user-name">
          	<%= link_to item.user.name, edit_user_path(item.user.id)%>
          </div>
            <%= link_to item.title, edit_item_path(item) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

