<div class="main user-show">
  <div class="container">
    <div class="user">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image %>
      <% end %>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>

      <p><%= render 'relationships/follow_button', user: @user %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to "Edit", edit_user_path %>
      <% end %>
      <% if @current_admin %>
        <%= link_to "Edit", edit_user_path %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li class="active"><%= link_to "Note", user_path %></li>
      <li><%= link_to "Good", like_users_path %></li>
      <li><%= link_to "Following", following_users_path %></li>
      <li><%= link_to "Follower", follower_users_path %></li>
    </ul>
    <% @items.each do |item| %>
      <div class="items-index-item">
        <div class="item-left">
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image %>
          <% end %>
        </div>
        <div class="item-right">
          <div class="item-user-name">
          	<%= link_to item.user.name, user_path(item.user) %>
          </div>
            <%= link_to item.title, item_path(item) %>
        </div>
      </div>
    <% end %>
  </div>
</div>