<div class="main items-new">
  <div class="container">
    <h1 class="form-heading">New Note</h1>
    <%= form_for(@item) do |f| %>
      <div class="form">
        <div class="form-body">
          <% @item.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>Title</p>
            <%= f.text_field :title %>
          <p>category</p>
            <%= f.text_field :category %>
          <p>Note</p>
            <%= f.text_area :body%>
          <%= f.submit 'Sava' %>
        </div>
      </div>
    <% end %>
  </div>
</div>