<!DOCTYPE html>
<html>
  <head>
    <title>PGS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to "PGS",items_path %>
        <% else %>
          <%= link_to "PGS", "/" %>
        <% end %>
      </div>
      <ul class="header-menus">

        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to "投稿一覧",items_path %>
          </li>
          <li>
            <%= link_to "新規投稿",new_item_path %>
          </li>
          <li>
            <%= link_to "ユーザー一覧",users_path %>
          </li>
          <li>
            <%= link_to "ログアウト",logout_path,{method: :post} %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録",new_user_path  %>
          </li>
          <li>
            <%= link_to "ログイン",login_path %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
