<!DOCTYPE html>
<html>
  <head>
    <title>PGS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper">
    <header>
      <div class="header-logo">
          <%= link_to "PGS", "/" %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to "New Note",new_item_path %>
          </li>
          <li>
            <%= link_to "Note Index",items_path %>
          </li>
          <li>
            <%= link_to "User Index",users_path %>
          </li>
          <li>
            <%= link_to "Logout",logout_path,{method: :post} %>
          </li>
        <% elsif @current_admin %>
          <li>
            <%= link_to(@current_admin.name,"/admins/#{@current_admin.id}") %>
          </li>
          <li>
            <%= link_to "Logout",a_logout_path,{method: :post} %>
          </li>
        <% else %>
          <li>
            <%= link_to "Note Index",items_path %>
          </li>
          <li>
            <%= link_to "Sign in",new_user_path  %>
          </li>
          <li>
            <%= link_to "Login",login_path %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  <footer>
      <p>(c)PGS</p>
  </footer>
  </div>
  </body>
</html>
